<h1>About</h1>

<p>
Thank you for dropping by. It has been a wonderful four months so far. Big big thanks to the whole team. It is a great honor working with you amazing people. This app is a gift project (sort of?) that is designed to solve one tiny problem I had in my life and the team had daily: what to have for lunch?
It is always very hard to come up with options and to choose from these. Moreover, there are many restaurants near the office we have never been to, probably because we do not even know they exist. Anyways, you can use this tool if you cannot make a decision, or you simply want to let the goddess of randomness decide your fate. Hope that will be fun. 
</p>

<br />

<p>
Of course, the project is far far far away from its ideal stage.
</p>

<p>1. The UI design is minimal (no design at all)</p>
<p>2. The recommendation algorithm is incomplete</p>
<p>3. The restaurants are manually input. </p>
<p>Ideally, it should have</p>
<p>1. A better design</p>
<p>2. A stronger recommendation algorithm (you have a higher chance to get healthy food if your team members healthy score is higher)</p>
<p>3. A dynamically generated restaurant list (you should be able to have a list of open restaurants near you whereever you are; this can probably be achieve by talking to the Google Map API)</p>

<p>Anyways, since it is fun to work on this project and I have more spare time this June, I will keep working on this project. Stay tuned LOL.</p>